@charset "iso-8859-1";
/* 
    Background-Styles 
*/

body {
  height: auto;
  margin: 0;
  padding: 0;
  font: 16px/1 sans-serif;
  color: rgb(25, 25, 25);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.container {
  position: relative;
}

#reloj {
  display: none;
}

#content_area .block_inside {
  min-height: 30%;
}

#sidebar {
  display: none;
}

.container {
  padding: 16px 16px 0px 16px;
}

/* 
    Block-Styles 
*/

.block_inside {
  display: block;
}

#block_featuredblog .text_block {
  padding-top: 5px;
}

/* 
    Text-Styles   
*/
h1 {
  margin: 0 0 40px;
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 300;
}

h9 {
  color: rgb(102, 102, 102);
}

a {
  color: #26689f;
  text-decoration: none;
}
small a {
  color: #007de2;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0px 0px 15px 0px;
}

a.button {
  background: #32312f url(/images/button_bg.jpg) repeat-x;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #32312f;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 25px;
}
a.button:hover {
  background: #007de2 url(/images/button_bg_o.jpg) repeat-x;
  border-color: #007de2;
}

body,
.formRow label,
.formRow input,
.formRow select,
.fieldDescription,
#cvvHelpPanel h3,
#cvvHelpPanel div span,
.modal-content,
#tipoTarjeta h9 {
  display: block;
  font: 16px sans-serif;
}

.requiredText {
  position: relative;
  display: inline;
  color: rgb(25, 25, 25);
}

.formRow {
  position: relative;
  display: block;
  margin-bottom: 24px;
}
.formRow > * {
  display: block;
}
.formRow label {
  margin-top: 40px;
  color: rgb(25, 25, 25);
}

.formRow input,
.formRow select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 4px 0;
  font: 16px/1 sans-serif;
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.formRow input:focus,
.formRow select:focus {
  outline: 0;
  border-color: rgb(10, 218, 124);
  box-shadow: inset 0 -1px 0 rgb(10, 218, 124);
}
.formRow select {
  background-color: transparent;
}
.selectBox {
  position: relative;
}
.selectBox:after {
  position: absolute;
  right: 8px;
  top: 18px;
  z-index: -1;
  display: block;
  content: "";
  background-image: url("/img/select-arrow.svg");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.formRow .placeholderClass {
  color: rgb(153, 153, 153);
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
}
input[type="radio"] {
  margin: 0 40px 0 8px;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border: 0;
  box-shadow: none;
}

.upArrow {
  display: none;
  position: relative;
  left: 10px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
}

.CreditDebitCards .upArrow {
  display: inline-block;
}

.Trustly .upArrow,
.SafetyPay .upArrow {
  display: inline-block;
}

.leftArrow {
  content: " ";
  position: absolute;
  left: -10px;
  border-right: 10px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=0),
            progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=180),
            progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=270);
}

.fieldDescription {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.date {
  display: flex;
  margin-left: -16px;
}

.date .selectBox {
  width: 50%;
  margin: 0;
  padding-left: 16px;
}

.validationFailure input,
.validationFailure select {
  border-bottom: 1px solid rgb(255, 55, 74) !important;
}

.errorData,
.errorData2 {
  display: none;
  margin-top: 4px;
  font-size: 12px;
  color: rgb(255, 55, 74);
}

.errorData .errorMessageWrapper,
.errorData2 .errorMessageWrapper2 {
  position: relative;
}

.validationFailure .errorData,
.validationFailure2 .errorData2 {
  display: block;
}

.validationFailure .errorData .message,
.validationFailure2 .errorData2 .message2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 4px 0 0;
  color: rgb(255, 55, 74);
  text-decoration: none !important;
  line-height: 1.2em;
}

#msgTag {
  background-color: #990000;
  color: white;
  display: none;
  font-family: sans-serif;
  font-size: 10px;
  position: absolute;
  padding: 2px;
  right: 0;
  top: 12px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  z-index: 200;
}

#csc {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-right: 26px;
}

#cscImage {
  position: absolute;
  top: 22px;
  right: 0;
  display: inline-block;
  cursor: hand;
  background: url("/img/help.fw_TUAR.png") no-repeat 0 0;
  min-width: 24px;
  min-height: 24px;
}

#cvvHelpPanel {
  display: none;
  position: absolute;
  top: 18px;
  left: 82px;
  margin: 0;
  padding: 8px;
  background-color: white;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
  z-index: 4;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=0),
            progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=90),
            progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=180),
            progid:DXImageTransform.Microsoft.Shadow(Color=#ACACAA, Strength=5, Direction=270);
}

#cvvHelpPanel h3 {
  margin: 0 0 16px;
  font-weight: bold;
  text-transform: uppercase;
}

a#closeCvvHelpPanel {
  background-image: url("/img/close.fw.png");
  background-position: 0px 0px;
  border: 2px solid white;
  cursor: pointer;
  cursor: hand;
  display: block;
  min-height: 18px;
  max-height: 18px;
  min-width: 19px;
  max-width: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#cvvHelpPanel div {
  position: relative;
  margin-bottom: 16px;
}

#cvvHelpPanel div span {
  display: block;
  margin-bottom: 4px;
}

.cvvVisa,
.cvvAmex {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 59px;
  width: 146px;
  background-image: url("/img/spr-cr.png");
}

.cvvVisa {
  background-position: 0 -110px;
}
.cvvAmex {
  background-position: 0 -175px;
}

.box-err,
.box-inf,
.box-ok,
.box-generic {
  position: relative;
  display: block;
  margin: 0;
  padding: 16px;
  font-size: 14px;
  text-align: center;
  z-index: 2;
}

.box-err p,
.box-inf p {
  padding: 0;
}
.box-ok p,
.box-generic p {
  color: #000;
  padding: 0;
}
.box-ok .ico-close,
.box-inf .ico-close,
.box-err .ico-close,
.box-generic .ico-close {
  background-image: url(/img/spr-prv.png);
  width: 10px;
  height: 10px;
  position: relative;
  float: right;
  z-index: 20;
}

.box-ok .ico-close,
.box-err .ico-close,
.box-inf .ico-close,
.box-generic .ico-close {
  background-position: -105px -245px;
  cursor: pointer;
  cursor: hand;
}

.box-ok p,
.box-err p,
.box-inf p,
.box-generic p {
  margin: 0;
}

.box-ok {
  background: rgb(10, 218, 124);
}
.box-err {
  background-color: rgb(255, 55, 74);
}
.box-inf {
  background: rgb(58, 58, 58);
}
.box-generic {
  background: rgb(255, 255, 255);
}
.box-err p,
.box-err strong,
.box-err a {
  color: #fff;
}
.box-inf p,
.box-inf strong,
.box-inf a {
  color: #fff;
}
.box-ok p,
.box-ok strong,
.box-ok a {
  color: #000;
}
.box-generic p,
.box-generic strong,
.box-generic a {
  color: #000;
}
#memberData p {
  margin: 0;
  padding: 0;
}

/*LABEL*/

.PayPal #saveMethodLabel {
  color: #dedede;
}

.PayPal #saveMethodLabel.active {
  color: inherit;
}

#savePaymentMethodBox {
  position: relative;
  display: block;
}

#savePaymentMethodBody {
  padding: 0 20px;
}

#savePaymentMethodBody input {
  display:none;
}
#savePaymentMethodBody label {
  display:none;
}
#savePaymentMethodBody p {
  display:none;
}

#savePaymentMethodBox label {
  display: inline-block;
  vertical-align: top;
  margin: 8px 0 0 4px;
}

#saveMethodRow {
  padding-bottom: 1%;
}

#saveMethodBox {
  position: relative;
  display: inline-block;
  margin: 0;
  min-height: 0;
  border-width: 0;
}

#cap {
  width: 145px;
  height: 47px;
  border: 1px solid #666;
}

#tipoCuota .selectBox {
  display: inline-block;
  margin: 0 !important;
  vertical-align: inherit !important;
}
#tipoCuota input[type="checkbox"] {
  display: inline-block;
  margin-left: 8px;
}

/*BOTON*/

.btn.hRight {
  text-align: right !important;
  padding: 0;
  top: 0;
}
.btn a,
.btn input {
  background: #2e2e2e;
  border: 0 none transparent;
  color: #fff;
  text-decoration: none;
  top: 0;
}

.btn a:hover,
.btn a:active,
.btn input.btn:hover,
.btn input.btn:active,
.btn input.btn-i:hover,
.btn input.btn-i:active {
  background: #666;
  box-shadow: 0 0 0 transparent;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}
.btn a:hover,
.btn a:active {
  background: #666;
  color: #fff;
}

.btn .btn-b,
.btn a,
.btn input {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  display: block;
  width: 100%;
  min-width: 200px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgb(10, 218, 124);
  border: 0;
  border-radius: 4px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.btn .nofloat {
  float: none;
  display: inline-block;
}

.ml80 {
  margin-left: 80px;
}

.returns-accordion table #modalDynamic_closeButton {
  background-image: url(img/spr-prv.png);
  background-position: -139px -326px;
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  z-index: 1000;
}

.modal {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: initial;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.modalmid {
  position: absolute;
  top: 45%;
  right: 24px;
  left: 24px;
  margin: auto;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-title {
  margin-bottom: 8px;
  font-size: 20px;
}
.modal-separator {
  display: none;
}
.modal-content {
  color: rgb(102, 102, 102);
}

.modal p {
  margin: 0;
  padding-bottom: 20px;
}

#datosdeCompra {
  display: none !important;
}

#notification,
#notificationDinamic {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.spinner-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
}
.spinner {
  display: block;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* MOBILE VIEW ------------------------------------------ */
@media only screen and (max-width: 659px) {
  #cvvHelpPanel {
    top: 18px;
    right: 34px;
  }

  .leftArrow {
    position: absolute;
    right: -20px;
    left: auto;
    border-left: 10px solid rgb(255, 255, 255);
  }

  .selectBox:after {
    top: 6px;
  }
  #tipoCuota .selectBox {
    width: 100%;
  }
}

/* DESKTOP VIEW ------------------------------------------ */
@media only screen and (min-width: 660px) {
  /* Fix to force Roboto on Desktop */
  @font-face {
    font-family: "Roboto";
    src: url("webfontTUAR/roboto-v15-latin_latin-ext-regular.eot");
    src: url("webfontTUAR/roboto-v15-latin_latin-ext-regular.eot?#iefix")
        format("embedded-opentype"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-regular.woff") format("woff"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-regular.ttf") format("truetype"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-regular.svg#robotoregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto bold";
    src: url("webfontTUAR/roboto-v15-latin_latin-ext-500.eot");
    src: url("webfontTUAR/roboto-v15-latin_latin-ext-500.eot?#iefix")
        format("embedded-opentype"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-500.woff") format("woff"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-500.ttf") format("truetype"),
      url("webfontTUAR/roboto-v15-latin_latin-ext-500.svg#robotobold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  body,
  .formRow label,
  .formRow input,
  .formRow select,
  .fieldDescription,
  #cvvHelpPanel h3,
  #cvvHelpPanel div span,
  .modal-content,
  #tipoTarjeta h9,
  #msgTag,
  .btn .btn-b,
  .btn a,
  .btn,
  input,
  .formRow input,
  .formRow select {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  .btn .btn-b,
  .btn a,
  .btn input {
    float: right;
    width: auto;
    margin: auto auto auto 16px;
    font-family: "Roboto bold", Helvetica, Arial, sans-serif;
  }

  .formRow input,
  .formRow select {
    width: auto;
    height: auto;
    min-width: 40px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  .formRow input:hover,
  .formRow select:hover {
    border-width: 1px;
    box-shadow: inset 0 0 0 1px rgb(25, 25, 25);
    border-color: rgb(25, 25, 25);
  }
  .formRow input:focus,
  .formRow select:focus {
    outline: 0;
    border-width: 1px;
    border-color: rgb(10, 218, 124);
    box-shadow: inset 0 0 0 1px rgb(10, 218, 124);
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    min-width: auto;
  }

  #cardNumber,
  #cardName {
    width: 320px;
  }
  .date .selectBox {
    width: auto;
  }

  #csc {
    padding-right: 0;
  }

  .date select,
  #csc,
  #numCuotas {
    width: 150px;
  }

  .modalmid {
    top: 5%;
  }
  #tipoCuota .selectBox {
    margin: 0 16px !important;
  }
  #cvvHelpPanel h3 {
    font-weight: bold;
  }

  #notification,
  #notificationDinamic {
    position: relative;
    margin-bottom: 24px;
  }
}

.cardbox{
	display:none !important;
}
